<.link href={~p"/invoice_manager/company_name/registration"}>
  I want to register my company
</.link>
<!-- 
<.link href={~p"/invoice_manager/company_name/search"}>
  I already belong to a company
</.link>
 -->
